<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>オリジナル</key>
	<array>
		<real>9999</real>
		<false/>
		<string>こしあんよりも粒あんがいいです。</string>
		<string>私の座右の銘は・・・です。</string>
		<string>お時間の方は大丈夫でしょうか。</string>
		<string>わたしは、身障者で口がうまくきけません。</string>
	</array>
</dict>
</plist>
